<app-header />
<main class="max-w-7xl m-auto px-2 py-8">
    <app-banner />
    <article class="max-w-[75rem] m-auto   my-6 flex flex-wrap gap-3 justify-center">

        <div class="max-w-xs bg-gray-100 rounded-lg shadow">
            <img class="rounded-t-lg" src="https://pictures.domus.la/inmobiliaria_287/6830_0_82619987.jpg" alt="" />
            <div class="px-5 pt-5 pb-2 text-sm flex flex-col gap-2 items-start">
                <h6 class="mb- font-bold tracking-tight text-gray-700">Calle 18 # 106 - 100</h6>
                <span class="py-1 px-2 bg-green-500 rounded-md text-white">Nueva</span>
                <ul class="font-semibold tracking-tight text-gray-700">
                    <li>5 Cuartos</li>
                    <li>3 Baños</li>
                    <li>200 M2 Construidos</li>
                    <li>350 M2 del Terreno</li>
                </ul>
                <div class="w-full flex justify-end">
                    <p class="text-green-600 font-semibold"><span>$ </span>200.000.000</p>
                </div>
            </div>
        </div>

        <div class="max-w-xs bg-gray-100  border border-gray-200 rounded-lg shadow">
            <img class="rounded-t-lg" src="https://pictures.domus.la/inmobiliaria_287/6829_0_3431915.jpg" alt="" />
            <div class="px-5 pt-5 pb-2  text-sm flex flex-col gap-2 items-start">
                <h6 class="mb- font-bold tracking-tight text-gray-700">Cra 34 # 16 - 20</h6>
                <span class="py-1 px-2 bg-green-500 rounded-md text-white">Nueva</span>
                <ul class="font-semibold tracking-tight text-gray-700">
                    <li>4 Cuartos</li>
                    <li>2 Baños</li>
                    <li>400 M2 Construidos</li>
                    <li>600 M2 del Terreno</li>
                </ul>
                <div class="w-full flex justify-end">
                    <p class="text-green-600 font-semibold"><span>$ </span>250.000.000</p>
                </div>
            </div>

        </div>


        <div class="max-w-xs bg-gray-100  border border-gray-200 rounded-lg shadow">
            <img class="rounded-t-lg" src="https://pictures.domus.la/inmobiliaria_287/6826_0_119329284.jpg" alt="" />
            <div class="px-5 pt-5 pb-2 text-sm flex flex-col gap-2 items-start">
                <h6 class="mb- font-bold tracking-tight text-gray-700">Calle 184 # 16 - 10</h6>
                <span class="py-1 px-2 bg-green-500 rounded-md text-white">Nueva</span>
                <ul class="font-semibold tracking-tight text-gray-700">
                    <li>2 Cuartos</li>
                    <li>2 Baños</li>
                    <li>400 M2 Construidos</li>
                    <li>450 M2 del Terreno</li>
                </ul>
                <div class="w-full flex justify-end">
                    <p class="text-green-600 font-semibold"><span>$ </span>330.000.000</p>
                </div>
            </div>

        </div>


        <div class="max-w-xs bg-gray-100 border border-gray-200 rounded-lg shadow">
            <img class="rounded-t-lg" src="https://pictures.domus.la/inmobiliaria_287/6823_28_23265317.jpg" alt="" />
            <div class="px-5 pt-5 pb-2  text-sm flex flex-col gap-2 items-start">
                <h6 class="mb- font-bold tracking-tight text-gray-700">Calle 32 # 16 - 130</h6>
                <span class="py-1 px-2 bg-green-500 rounded-md text-white">Nueva</span>
                <ul class="font-semibold tracking-tight text-gray-700">
                    <li>6 Cuartos</li>
                    <li>3 Baños</li>
                    <li>400 M2 Construidos</li>
                    <li>650 M2 del Terreno</li>
                </ul>
                <div class="w-full flex justify-end">
                    <p class="text-green-600 font-semibold"><span>$ </span>640.000.000</p>
                </div>
            </div>

        </div>

        <div class="max-w-xs bg-gray-100 border border-gray-200 rounded-lg shadow">
            <img class="rounded-t-lg" src="https://pictures.domus.la/inmobiliaria_287/6821_5_20627929.jpeg" alt="" />
            <div class="px-5 pt-5 pb-2  text-sm flex flex-col gap-2 items-start">
                <h6 class="mb- font-bold tracking-tight text-gray-700">Avenida Valle # 67 - 10</h6>
                <span class="py-1 px-2 bg-green-500 rounded-md text-white">Nueva</span>
                <ul class="font-semibold tracking-tight text-gray-700">
                    <li>3 Cuartos</li>
                    <li>3 Baños</li>
                    <li>600 M2 Construidos</li>
                    <li>650 M2 del Terreno</li>
                </ul>
                <div class="w-full flex justify-end">
                    <p class="text-green-600 font-semibold"><span>$ </span>870.000.000</p>
                </div>
            </div>

        </div>

        <div class="max-w-xs bg-gray-100 border border-gray-200 rounded-lg shadow">
            <img class="rounded-t-lg" src="https://pictures.domus.la/inmobiliaria_287/6822_10_19007587.jpeg" alt="" />
            <div class="px-5 pt-5 pb-2  text-sm flex flex-col gap-2 items-start">
                <h6 class="mb- font-bold tracking-tight text-gray-700">Calle 3 # 23 - 10</h6>
                <span class="py-1 px-2 bg-green-500 rounded-md text-white">Nueva</span>
                <ul class="font-semibold tracking-tight text-gray-700">
                    <li>5 Cuartos</li>
                    <li>2 Baños</li>
                    <li>700 M2 Construidos</li>
                    <li>800 M2 del Terreno</li>
                </ul>
                <div class="w-full flex justify-end">
                    <p class="text-green-600 font-semibold"><span>$ </span>940.000.000</p>
                </div>
            </div>

        </div>
    </article>
    <div class="flex justify-center">
        <nav aria-label="Page navigation example">
            <ul class="flex items-center gap-2 -space-x-px h-8 text-sm">
                <li>
                    <a href="#"
                        class="z-10 flex items-center justify-center px-3 h-8 leading-tight text-green-600 border border-green-300 bg-green-50 hover:bg-green-100 hover:text-green-700">1</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-green-500 bg-white border border-green-300 hover:bg-green-100 hover:text-green-700 ">2</a>
                </li>
                <li>
                    <a href="#" aria-current="page"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-green-500 bg-white border border-green-300 hover:bg-green-100 hover:text-green-700 ">3</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-green-500 bg-white border border-green-300 hover:bg-green-100 hover:text-green-700">4</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-green-500 bg-white border border-green-300 hover:bg-green-100 hover:text-green-700">5</a>
                </li>
                <li>
                    <a href="#"
                        class="flex items-center justify-center px-3 h-8 leading-tight text-green-500 bg-white border border-green-300 rounded-e-lg hover:bg-green-100 hover:text-green-700">
                        <span class="">Última Pagína</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</main>